*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(64, 62, 62);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-Color: #fff;
    height: 200px;
    border-Radius: 10px;
    box-Shadow: 0 5px 15px rgba(0,0,0,0.1);
    width: 350px;
    transform: 0.3s;
   
}
.card:hover{
    transform: scale(1.1);
}
.Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    
}
input{
    width: 80%;
    height: 35px;
    margin: 15px;             
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 15px;
}


button{
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    
}
button:hover{
    background-color: #55c059;
}
.text{
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    padding-top: 8px;
}
p{
    
    text-align: center;
    padding: 20px 20px;
    font-size: 17px;
}
a{
    text-decoration: none;
}
